<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/logo_32.png" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
    {% block head %}
    {% endblock head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/frontend.css"></script>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    {% block header %}{% endblock header %}
    <div class="root">
    {% block content %}
    {% endblock content %}
    </div>
    {% endblock body %}
  </body>
</html>
