{% extends 'base.html' %}

{% block head %}
    <title>Search</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/search.js"></script>
{% endblock head %}

{% block content %}
  <p>
    Welcome to Slug.in. We provide quick access to information that you care about. Go ahead and pick a project and shortcut below, and then you will be directed there.
  </p>

  <p>
    All of our shortcuts work as URLs too. So you can go to http://slug.in/*project*/*shortcut* to get to them. For example, http://slug.in/django/TIME_ZONE/
  </p>

    <!-- BEGIN search form -->
      <div class="wide-search-bar">
        <div class="wide-search-bar-wrapper clearfix">
          <form action="." method="GET">
            Project
            <select name="project" id="id_project">
              {% for project in projects %}
              <option value="{{ project }}">{{ project }}</option>
              {% endfor %}
            </select>
            Shortcut
            <span class="text-input-wrapper">
              <input type="text" name="q" value="" autocomplete="off" id="id_site_search_2">
            </span>
            <span class="submit-input-wrapper">
              <input type="submit" value="Go crazy." id="id_search_button">
            </span>
          </form>
        </div>
      </div>
      <!-- END search form -->



      <!-- BEGIN search results -->
      <div class="module" id='search_module'>
        <div class="module-wrapper">
          <div class="module-header">
            <h3 id="id_search_title"></h3>
          </div>
          <div class="module-list">
            <div class="module-list-wrapper">
              <ul id="id_search_result">
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- END search results -->
{% endblock content %}
