{% extends 'base.html' %}
{% load url from future %}

{% block head %}
    <title>Slug Details</title>
{% endblock head %}

{% block content %}
      <h2>{{ slug }}</h2>
      {{ form.errors }}
      <p>
      Please select a URL that you think works best for <b>{{ slug }}</b>.
      </p>
      {% if winner %}
      <p>
        This shortcut currently pointed to: <a href="{{ winner }}">{{ winner }}</a>
      </p>
      {% else %}
      <p>
        This shortcut points to this page. Once it has {{ THRESHOLD }} more points than any other URL, it will automatically be redirected at <a href="http://slug.in/{{ project }}/{{ slug}}/">http://slug.in/{{ project }}/{{ slug}}/</a>
      </p>
      {% endif %}
      {% for url in urls %}
      {% if forloop.first %}
      <form action="{% url 'slug-details' project slug %}" method="POST">{% csrf_token %}
        <input type="hidden" name="project" value="{{ project }}">
        <input type="hidden" name="slug" value="{{ slug }}">
        <ul>
      {% endif %}
          <li>{{ url.score }} <input type="submit" name="url" value="{{ url.url }}"></li>
      {% if forloop.last %}
        </ul>
      </form>
      {% endif %}
      {% endfor %}
{% endblock content %}
