{% extends 'base.html' %}
{% load url from future %}

{% block head %}
    <title>Slug Details</title>
{% endblock head %}

{% block body_class %}slug-details{% endblock %}

{% block header %}
      <header>
        <h1>
          <a href="/"><img src="{{ MEDIA_URL }}img/logo_64.png" /></a>
        </h1>
      </header>
{% endblock header %}

{% block content %}
      <h2>{{ slug }}</h2>
      <form>
      <p class="emphasis">
      Please select a URL that you think works best for <strong>{{ slug }}</strong>.
      </p>
      {% if winner %}
      <p>
        This shortcut currently pointed to: <a href="{{ winner }}">{{ winner }}</a>
      </p>
      {% else %}
      <p>
        <strong>This shortcut points to this page.</strong><br />Once it has {{ THRESHOLD }} more points than any other URL, it will automatically be redirected at <code><a href="http://slug.in/{{ project }}/{{ slug}}/">http://slug.in/{{ project }}/{{ slug}}/</a></code>
      </p>
      {% endif %}
      </form>

      {% for url in urls %}
      {% if forloop.first %}
      <form action="{% url 'slug-details' project slug %}" method="POST">{% csrf_token %}
        <input type="hidden" name="project" value="{{ project }}">
        <input type="hidden" name="slug" value="{{ slug }}">
        <ul>
      {% endif %}
          <li><span class="score">{{ url.score|floatformat:0 }}</score> <input type="submit" rel="increment" name="url" value="{{ url.url }}"></li>
      {% if forloop.last %}
        </ul>
      </form>
      {% endif %}
      {% endfor %}
      <form action="{% url 'slug-details' project slug %}" method="POST">{% csrf_token %}
        <input type="hidden" name="project" value="{{ project }}">
        <input type="hidden" name="slug" value="{{ slug }}">
        {% if form.url.errors %}
          <font color="red">{{ form.url.errors }}</font>
        {% endif %}
        {{ form.url }}
        <input type="submit" value="Add a new Link" />
        <h3>Allowed Sites</h3>
        <ul>
        {% for site in whitelist %}
            <p>* {{ site }}</p>
        {% endfor %}
        </ul>
      </form>
{% endblock content %}
