{% extends 'base.html' %}
{% load url from future %}

{% block head %}
    <title>Slug Details</title>
{% endblock head %}

{% block content %}
      <h2>{{ slug }}</h2>
      {{ form.errors }}
      {% for url in urls %}
      {% if forloop.first %}
      <form action="{% url 'slug-details' project slug %}" method="POST">{% csrf_token %}
        <input type="hidden" name="project" value="{{ project }}">
        <input type="hidden" name="slug" value="{{ slug }}">
        <ul>
      {% endif %}
          <li>{{ url.score }} <input type="submit" name="url" value="{{ url.url }}"></li>
      {% if forloop.last %}
        </ul>
      </form>
      {% endif %}
      {% endfor %}
{% endblock content %}
