<header>
    <h1><a href="/">Pecans</a></h1>
    <div class="breadcrumb">
        <a href="..">..</a>
        <a href="{{ resource }}">{{ resource }}</a>
        <a href="#">{{ instance.resource_uri }}</a>
    </div>
</header>

<div class="root">
    <h2>{% if instance.name %}{{ instance.name }}{% else %}Create a new {{ resource }}{% endif %}</h2>
    <form action="." method="POST">
        {% for field in instance.editor %}
          {{ field|safe }}
        {% endfor %}
        <div class="form-controls"> 

        {% if schema.deletable and not is_new %}
        <a class="btn danger delete" rel="delete" href="{{ instance.resource_uri }}">Delete</a>
        {% endif %}

        {% if schema.editable and not is_new %} 
        <input type="submit" value="Save" />
        {% endif %} 
        {% if is_new and schema.instantiable %}
        <input type="submit" value="Save" />
        {% endif %}
        </div>
    </form>
</div>

