{% extends "base.html" %}

{% block breadcrumb %}
<a href="/{{ site._offsetURL }}/">API</a>
<a href="/{{ site._offsetURL }}/{{ schema._name }}/">{{ schema._name }}</a>
<a href="#">{{ instance.name|default:"New" }}</a>
{% endblock %} 

{% block title %}
    {% if instance.name %}{{ instance.name }}{% else %}Create a new {{ resource }}{% endif %}
{% endblock %}

{% block content %}
    <form action="." method="POST">
        <div name="error">
        </div>

        {% for field in instance.editor %}
          {{ field|safe }}
        {% endfor %}
        <div class="form-controls"> 

        {% if schema.deletable and not is_new %}
        <a class="btn danger delete" rel="delete" href="{{ instance.resource_uri }}">Delete</a>
        {% endif %}

        {% if schema.editable and not is_new %} 
        <input type="submit" value="Save" />
        {% endif %} 
        {% if is_new and schema.instantiable %}
        <input type="submit" value="Save" />
        {% endif %}
        </div>
    </form>
{% endblock %}
