<header>
    <h1><a href="/">Pecans</a></h1>
    <div class="breadcrumb">
        <a href="..">..</a>
        <a href="#">{{ current }}</a>
    </div>
</header>

<div class="compare">
  <div>
  </div>
  <div class="compare-controls">
  </div>
</div>

<div class="root">
    <h2>
      {{ resource }}
      <div class="root-controls">
        {% if schema.comparable %}
        <a href="#" rel="compare" class="btn mini search">Compare<i class="icon-white icon-tasks"></i></a>
        {% endif %}

        {% if schema.filters|length %}
        <a href="#search" rel="dropdown" class="btn mini search">Search<i class="icon-white icon-search"></i></a>
        {% endif %}

        <a class="btn mini create" rel="add" href="_/new/">Create<i class="icon-white icon-upload"></i></a>
      </div>  
    </h2>

    <div id="search" class="search hidden dropdown">
      <form name="search" action="." method="POST">
        <select name="filter_field">
          <option value="" selected></option>
          {% for field in schema.filters %}
            <option value="{{ field }}" selected>{{ field }}</option>
          {% endfor %}
        </select>
        <input type="search" />
        <input type="submit" class="mini" value="Search" />
      </form>
    </div>

    <table>
        <thead>
            <tr>
                {% for field in schema.getSortedFields %}
                    <th>{{ field|capfirst }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
          {% for item in results %}
              <tr>
              {% for field_name, value in item.fields %}
                <td>
                {% if forloop.first %}
                    <a href="_/{{ item.url }}/">
                {% endif %}
                    {{ value }}
                {% if forloop.first %}
                    </a>
                {% endif %}
                </td>
              {% endfor %} 
              </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
