<header>
    <h1><a href="/">Pecans</a></h1>
    <div class="breadcrumb">
        <a href="..">..</a>
        <a href="#">{{ current }}</a>
    </div>
</header>

<div class="root">
    <h2>{{ resource }}</h2>
    <table>
        <thead>
            <tr>
                {% for field in schema.getSortedFields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
          {% for item in results %}
              <tr>
              {% for field_name, value in item.fields %}
                <td>
                {% if forloop.first %}
                    <a href="_/{{ item.url }}/">
                {% endif %}
                    {{ value }}
                {% if forloop.first %}
                    </a>
                {% endif %}
                </td>
              {% endfor %} 
              </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
