<header>
    <h1><a href="/">Pecans</a></h1>
    <div class="breadcrumb">
    </div>
</header>

<div class="root">
  <h2>Login</h2>
  <form method="POST" action=".">
    <div class="form-row required">
      <div class="form-row-label">
        <label for="root_url">Root API URL</label>
      </div>
      <div class="form-row-target">
        <input id="root_url" name="root_url" type="text" placeholder="e.g., /api/v1" value="" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-row-label">
        <label for="user">Username</label>
      </div>
      <div class="form-row-target">
        <input id="user" name="user" type="text" placeholder="Your username" value="" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-row-label">
        <label for="password">Password</label>
      </div>
      <div class="form-row-target">
        <input id="password" name="password" type="password" placeholder="Your password" value="" />
      </div>
    </div>

    <div class="form-controls">
      <input type="submit" value="Let&rsquo;s do this" />
    </div>

  </form>
</div>
