<header>
    <h1><a href="/">Pecans</a></h1>
    <div class="breadcrumb">
    </div>
</header>

<div class="root">
  <form method="POST" action=".">
    <div class="form-row mini">
      <label for="root_url">Root API URL</label>
      <input id="root_url" name="root_url" type="text" placeholder="e.g., /api/v1" value="" />
    </div>

    <div class="form-row mini optional">
      <label for="user">Username</label>
      <input id="user" name="user" type="text" placeholder="Your username" value="" />
    </div>

    <div class="form-row mini optional">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Your password" value="" />
    </div>

    <div class="form-row submit-row mini">
      <input type="submit" value="Let&rsquo;s do this" />
    </div>

  </form>
</div>
