/* base stylesheet */

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.icon-white {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    background: white;
    color:black;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

html, body {
    font-family:"helvetica neue", "myriad", "helvetica", sans-serif;
}

body {
    background:url('../img/low_contrast_linen.png');
}

.loading .root {
    opacity:0.0;
    -webkit-transition:opacity 0.2s ease-in-out;
    -moz-transition:opacity 0.2s ease-in-out;
    -ms-transition:opacity 0.2s ease-in-out;
    -o-transition:opacity 0.2s ease-in-out;
    transition:opacity 0.2s ease-in-out;
}

.root {
    opacity: 1.0;
    width:960px;
    margin:16pt auto;
    background:white;
    border-radius:3px;
    padding:0;
    -webkit-transition:opacity 0.2s ease-in-out;
    -moz-transition:opacity 0.2s ease-in-out;
    -ms-transition:opacity 0.2s ease-in-out;
    -o-transition:opacity 0.2s ease-in-out;
    transition:opacity 0.2s ease-in-out;
    box-shadow:0px 0px 5px 4px rgba(0, 0, 0, 0.7);
    border-bottom:6px solid #454565;
    overflow:hidden;
}
.root > ul,
.root > form {
    margin:18px;
}

.form-row-label {
    padding-top:12px;
}

label {
    color:#999;
    padding-bottom:9px;
    display:block;
}

.required label {
    color:#222;
}

input[type=password],
input[type=date],
input[type=time],
input[type=search],
input[type=text] {
    padding:6px;
    font-size:1.1em;
    border:1px solid #CDCDCD;
    border-radius:3px;
    -webkit-transition:box-shadow 0.1s ease-in-out;
    box-shadow:0px 0px 0px 0px #569CCE;
}

tr:nth-child(2n) {
    background:#EFEFFF;
}

table {
    min-width:100%;
    max-width:100%;
    border-radius:0px 0px 3px 3px;
}

table thead tr {
    background:#ECECF;
    color:black;
    border-bottom:1px solid #343454;
}

table thead tr th {
    padding:18px;
    border-bottom:1px dotted #646484;
}

table tbody tr td {
    padding:6px; 
}

table tbody tr td:first-child {
    padding-left:18px;
}
table tbody tr td:last-child {
    padding-right:18px;
}

input:focus {
    box-shadow:0px 0px 4px 2px #569CCE;
}

.form-row {
    clear:both;
    overflow:hidden;
    padding:9px 0px;
    margin-bottom:9px;
    border-bottom:1px solid #CDCDCD; 
}

.form-row-target > input[type=text] {
    width:60%;
}

.form-row-label {
    width:16%;
    float:left;
}

.form-row-target {
    width:84%;
    float:left;
}

.form-row-label aside {
    font-size:0.8em;
    color:#888;
}

.form-controls { 
    text-align:right;
}

a,
a:visited,
a:active {
    color:#0664BC;
    text-decoration:none;
}

a:hover {
  color:#0997EF;
}

.root h2 {
    font-size:1.2em;
    padding:18px;
  
    background:-webkit-linear-gradient(90deg, #0664BC, #569CCE); 
    background:-moz-linear-gradient(90deg, #0664BC, #569CCE); 
    background:-ms-linear-gradient(90deg, #0664BC, #569CCE); 
    background:-o-linear-gradient(90deg, #0664BC, #569CCE); 
    background:linear-gradient(90deg, #0664BC, #569CCE); 
    color:#EFEFFF;
    box-shadow:0px 5px 5px rgba(128, 128, 144, 0.5);
    border-bottom:1px solid #0664BC;
    border-radius:3px 3px 0px 0px; 
    position:relative;
}

.root h2 .root-controls {
    position:absolute;
    right:18px;
    top:16px;
}

.btn i {
    margin-left:3px;
}

input[type=submit].mini,
.btn.mini {
    font-size:0.7em;
    padding:6px;
    display:inline-block;
}

.btn.search {
    background:-webkit-linear-gradient(-90deg, #0553AB, #04429A);
    background:-moz-linear-gradient(-90deg, #0553AB, #04429A);
    background:-ms-linear-gradient(-90deg, #0553AB, #04429A);
    background:-o-linear-gradient(-90deg, #0553AB, #04429A);
    background:linear-gradient(-90deg, #0553AB, #04429A);
    border-color:#04429A;
    box-shadow:0px 0px 3px rgba(0, 0, 0, 0.2) inset;
}

.btn.create {
    background:-webkit-linear-gradient(-90deg, #5ea822, #487605);
    background:-moz-linear-gradient(-90deg, #5ea822, #487605);
    background:-ms-linear-gradient(-90deg, #5ea822, #487605);
    background:-o-linear-gradient(-90deg, #5ea822, #487605);
    background:linear-gradient(-90deg, #5ea822, #487605);
    border-color:#487605;
}

.hidden {
    display:none;
}

#search {
    padding:18px;
    background:#ECECEC;
}

#search input[type=search] {
    width:40%;
}

header {
    background:-webkit-linear-gradient(90deg, #02205A, #01103A);
    background:-moz-linear-gradient(90deg, #02205A, #01103A);
    background:-ms-linear-gradient(90deg, #02205A, #01103A);
    background:-o-linear-gradient(90deg, #02205A, #01103A);
    background:linear-gradient(90deg, #02205A, #01103A);
    padding:6px;
    box-shadow:0px 0px 12px 4px rgba(0, 0, 0, 0.5);
    border-bottom:1px solid #0553AB;
}

td ul li { list-style:none; font-size:0.8em; font-family:monospace; color:#666; }
tr:first-child td dl dd { display:block; text-decoration:underline; }

td dl dt { display:block; font-weight:bold; }
td dl dd { display:block; display:none; }

.btn,
input[type=submit] {
    border:1px solid #CCC;
    padding:9px;
    color:white !important;
    text-shadow:0px 1px 1px rgba(0,0,0,0.4);
    font-size:16px;
    text-decoration:none;
    background:none;
    border-radius:3px;
    box-shadow:0px 0px 3px rgba(128, 128, 144, 0.5);
}

.btn:hover,
input[type=submit]:hover {
    box-shadow:0px 0px 3px rgba(128, 128, 144, 0.5), 0px 3px 7px 2px rgba(244, 244, 255, 0.2) inset, 0px -3px 7px 1px rgba(0, 0, 0, 0.2) inset;
}

input[type=submit] {
    background:-webkit-linear-gradient(90deg, #0664BC, #569CCE); 
    background:-moz-linear-gradient(90deg, #0664BC, #569CCE); 
    background:-ms-linear-gradient(90deg, #0664BC, #569CCE); 
    background:-o-linear-gradient(90deg, #0664BC, #569CCE); 
    background:linear-gradient(90deg, #0664BC, #569CCE); 
    border-color:#0664BC;
    cursor:pointer;
}

.view_root ul li {  
    padding-top:3px; 
    padding-bottom:6px; 
    margin-bottom:3px; 
    border-bottom:1px dotted #CCC; 
} 

.btn.danger {
    background:-webkit-linear-gradient(-90deg, #A20D11, #9D1418); 
    background:-moz-linear-gradient(-90deg, #A20D11, #9D1418); 
    background:-ms-linear-gradient(-90deg, #A20D11, #9D1418); 
    background:-o-linear-gradient(-90deg, #A20D11, #9D1418); 
    background:linear-gradient(-90deg, #A20D11, #9D1418); 
    border-color:#9D1418;
}

.key-value {
    position:relative;
}

.key-value [rel=add] {
    position:absolute;
    bottom:11px;
    left:446px;
}

.key-value-row:first-child [rel=remove] {
    display:none;
}

li.value {
    width:66%;
    border-right:1px solid #CCC;
    padding-left:9px;
    position:relative;
    margin-bottom:18px;
}

li.value > [rel=add] {
    display:none;
    position:absolute;
    top:9px;
    right:-54px;
}

li.value:first-child > [rel=remove] {
    display:none;
}

li.value:last-child > [rel=add] {
    display:block;
}

li.value > [rel=remove] {
    position:absolute;
    top:9px;
    right:-27px;
}

.breadcrumb {
  margin-top:9px; 
}

.breadcrumb a {
  font-size:0.9em;
  color:#569CCE;
}

.breadcrumb a:after {
  content:' / ';
  visibility:visible;
  display:inline;
}

.breadcrumb a:last-child:after {
  display:none;
}

header #logo {
  display:block;
  float:left;
  font-weight:bold;
  font-size:1.5em; 
  margin-right:36px;
  margin-left:18px;
  margin-top:3px;
}

header #logo a {
  margin-top:6px;
  color:#569CCE;
  text-shadow:0px 0px 2px #0664BC;
}

header [rel=logout] {
  position:absolute;
  right:18px;
  color:white;
  top:15px;
  font-size:0.75em;
} 

header {
  overflow:hidden;
}
