<div class="form-row {% if not meta.blank and not meta.nullable %}required{% endif %}">
<div class="form-row-label">
    <label for="id_{{ name }}">{{ name }}</label>
    {% if meta.help_text %}
        <aside>{{ meta.help_text }}</aside>
    {% endif %}
</div>
<div class="form-row-target">
{% block form_row_target %}
    <input {% if meta.readonly %}disabled{% endif %} type="{% block type %}text{% endblock %}" name="{{ name }}" id="id_{{ name }}" value="{{ value }}" />
{% endblock %}
</div>
</div>
