{% extends "widgets/default.html" %}

{% block form_row_target %}
    <ul class="list-value">
    {% for item in value %}
        <li>
        {% if item|is_object %}
            <div class="key-value">
            {% for key, value in item|iteritems %}
                <div class="key-value-row">
                <input type="text" value="{{ key }}" />:
                <input type="text" value="{{ value }}" /> 
                <a rel="remove-key" href="#">-</a>
                </div>
            {% endfor %}
            <a rel="add-key" href="#">+</a>
            </div>
        {% else %}
            <input {% if meta.readonly %}disabled{% endif %} type="text" name="{{ name }}" id="id_{{ name }}" value="{{ item }}" />
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
